@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1a202c;
}
.nav-wrapper {
    background-color: #009688;
}

a {
    color: #4f93f9;
    text-decoration: none;
}

.nav-item {
    display: flex;
    align-items: center;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
}